@model Praesidium.ViewModels.Account.RegisterViewModel

<div class="login-page">
    <div class="page-header">
        <h1>Login</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register Login</h3>
                </div>
                <div class="panel-body">
                    <form method="post" asp-route="Register">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <fieldset>
                            
                            <div class="form-group">
                                <label asp-for="Username">
                                    <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                </label>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Email">
                                    <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                                </label>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Password">
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">
                                    <input type="password" class="form-control" placeholder="Password confirmation" asp-for="ConfirmPassword" autocomplete="off">
                                </label>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="PhoneNumber">
                                    <input type="number" class="form-control" placeholder="Optional number" asp-for="PhoneNumber" autocomplete="off">
                                </label>
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="register">Register</button>
                                <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>